In [169]:
#import relevant libraries
import numpy as np
import pandas as pd
import random as random
import os
from keras.layers import Input, Dense, Activation, ZeroPadding2D, BatchNormalization, Flatten, Conv2D
from keras.layers import AveragePooling2D, MaxPooling2D, Dropout, GlobalMaxPooling2D, GlobalAveragePooling2D
from keras.models import Model


print('Libraries imported succesfully')

Libraries imported succesfully

In [174]:

train_images = []
for dirname, _, filenames in os.walk('./datasets/training_set'):
    for filename in filenames:   
        train_images.append(os.path.join(dirname, filename))
random.shuffle(train_images) 

train=[]
category= []        
for images in train_images:
    if "dog" in images:
        category.append("dog")
    else:
        category.append("cat")
    train.append(images)    
df={'filename':train,'category':category}
df=pd.DataFrame(df) 
df=df.iloc[1:]

In [175]:
train_images = import_dataset()
random.shuffle(train_images)

In [176]:
df.head()

                                    filename category
1  ./datasets/training_set/dogs/dog.3212.jpg      dog
2  ./datasets/training_set/cats/cat.2016.jpg      cat
3   ./datasets/training_set/dogs/dog.884.jpg      dog
4  ./datasets/training_set/dogs/dog.3321.jpg      dog
5  ./datasets/training_set/dogs/dog.1616.jpg      dog

In [177]:
df['label'] = np.where(df['category'].str.contains('dog'), 1, 0)
df.head(-10)

                                       filename category  label
1     ./datasets/training_set/dogs/dog.3212.jpg      dog      1
2     ./datasets/training_set/cats/cat.2016.jpg      cat      0
3      ./datasets/training_set/dogs/dog.884.jpg      dog      1
4     ./datasets/training_set/dogs/dog.3321.jpg      dog      1
5     ./datasets/training_set/dogs/dog.1616.jpg      dog      1
...                                         ...      ...    ...
7993  ./datasets/training_set/cats/cat.3941.jpg      cat      0
7994  ./datasets/training_set/dogs/dog.2230.jpg      dog      1
7995  ./datasets/training_set/cats/cat.1886.jpg      cat      0
7996  ./datasets/training_set/dogs/dog.2477.jpg      dog      1
7997   ./datasets/training_set/dogs/dog.453.jpg      dog      1

[7997 rows x 3 columns]

In [178]:
def model():
    model = K.Sequential()
    model.add(Conv2D(32 , 3, 3,  input_shape = (64, 64, 3), activation = 'relu'))
    model.add(MaxPooling2D(pool_size  = (2,2)))
    model.add(Flatten())
    model.add(Dense(128, activation = 'relu'))
    model.add(Dense(1, activation = 'sigmoid'))
  
    return model

In [179]:
model = model()

In [180]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])